/*start header styles*/

.front #header-dec-outer  { 
	background: url(../images/header_bkg.jpg) repeat-x 0 0; 
	height: 310px; 
	position: relative;
	}
	
.front .header-decoration { 
	background: url(../images/city_header.png) no-repeat 50% top; 
	float: left; 
	position: absolute; 
	top:73px; 
	left: 0; 
	width:100%;
	height: 265px;
	}

.front #header-dec-outer .block-search  {
	position: relative;
	top: -55px;
	color: #fff;
}

.front #logo {
	position: relative;
	top: -90px;
	left: 380px;
}

/*dmelmenu styles*/


.front #block-menu-primary-links ul.menu {
	position: relative;
	top: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
	
}

/*start of footer styles*/
#footer-outer {
	background-color:#062226;
	font-size:11px;
	padding:25px 10px 20px;
	position:relative;
	display: block;
	}

#footer-inner {
	background: url(../images/footer_deco.png) no-repeat 50% top; 
	float: left; 
	position: relative; 
	top:-147px; 
	left: 0; 
	width:100%; 
	height: 175px;
}

#dmelfooter {
	background-image: none;
}

#footer-region {
	position: relative;
	top: 185px;	
}
