body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
}

p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 6px;
}

h1 {
    font-size: 1.6em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0.5em; /* 0.5em is equavalent to 1em in the page's base font.
                             Remember, a margin specified in ems is relative to
                             the element's font-size, not to the pages' base
                             font size. So, for example, if we want a 1em margin
                             (relative to the base font), we have to divide that
                             length by the element's font-size:
                             1em / 2em = 0.5em */
  }

h2 {
    font-size: 1.4em;
    line-height: 1.3em;
    margin-top: 0.667em; /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */
    margin-bottom: 0.667em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
    margin-bottom: 0.769em;
  }

h4, h5, h6 {
    font-size: 1em;
    line-height: 1.3em;
    margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
    margin-bottom: 0.909em;
}




a {
	text-decoration: none;
}

a:link {
	color: #6699ff;
}

a:hover {
	color: #3333ff;
	background-color: #99ccff;
	text-decoration: underline;
}

a:visited {
	color: #6699ff;
}


h1#site-name {
  margin-bottom: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

#page-outer{ 
	background: url(../images/main_bkg.jpg) repeat 50% 0; 
	padding-bottom:100px;
	}

#page {
	background-color: #fff;
}

/*start header styles*/

#header-dec-outer { 
	background: url(../images/header_bkg.jpg) repeat-x 0 0; 
	height: 75px; 
	position: relative;
	}
	
.header-decoration { 
	 
	
	}

#header-dec-outer .block-search {
	position: relative;
	top: 18px;
	color: #fff;
}

#logo {
	position: relative;
	top: -40px;
	left: 380px;
}

div.not-front {
	background: url(../images/city_header300.png) no-repeat; 
	position: absolute; 
	top:8px; 
	right:-420px; 
	height: 93px;
}

/*dmelmenu styles*/

#dmelmenu-outer{ 
	background: url(../images/topmenu_bkg.jpg) repeat-x 0 0; height: 112px;
	}

#dmelmenu-inner{
	margin: 0 auto;
	background: url(../images/menu_bkg.jpg) no-repeat 0 0;
	height: 112px;
}

#block-menu-primary-links ul.menu {
	position: relative;
	top: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
	
}

#block-menu-primary-links ul.menu li {
	list-style: none; 
	display: inline;
	padding: 0 14px;
}

#block-menu-primary-links ul.menu li a {
	color: #fff; 
	text-decoration: none;
}

#block-menu-primary-links ul.menu li a:visited {
	color: #fff;
}

#block-menu-primary-links ul.menu li a:hover,
#block-menu-primary-links ul.menu li a:active {
	color: #b6ff4e;
	text-decoration: underline;
}

/*start of footer styles*/
#footer-outer {
	background-color:#062226;
	font-size:11px;
	padding:25px 10px 20px;
	position:relative;
	display: block;
	}

#footer-inner {
	background: url(../images/footer_deco.png) no-repeat 50% top; 
	float: left; 
	position: relative; 
	top:-147px; 
	left: 0; 
	width:100%; 
	height: 175px;
}

#dmelfooter {
	background-image: none;
}

#footer-region {
	position: relative;
	top: 185px;	
}
/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}
